[Unit]
Description=uWSGI instance to serve PySudoku
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/Python/PySudoku
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
