body{
    background-color: #b8b8b8;
}

#solved{
    color: greenyellow;
    line-height: 3em;
}
#unsolved{
    color: red;
    line-height: 3em;
}
#puzzle{
    line-height: 1px;
    font-style: playfair display;
    
    
}